@import 'client/scss/all';
.card {
  @include size (100% rem(315));
  position: relative;
  margin-bottom: rem(20);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 3px 9px 0px rgba(0, 1, 1, 0.15);

  .big & {
    @include size(100% rem(650));
    border-radius: 15px;
    overflow: hidden;
    position: relative;

    .card-photo {
      height: 100%;
      background-image: url("/img/card5.png");
    }
  }

  &-photo {
    @include size(100%);
    background-image: url("/img/card1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
  }

  .description {
    @include transition(0.3s height ease-in-out);
    width: 100%;
    min-height: rem(75);
    position: absolute;
    bottom: 0;
    padding: rem(20);
    background: #eaebed;
    border-radius: 0 0 15px 15px;
    overflow: hidden;

    &:hover {
      height: rem(170);
    }

    &.short:hover {
      height: rem(120);
    }

    h4 {
      width: 80%;
      margin-bottom: rem(17);
      color: #29562a;
      font-size: rem(18);
      font-weight: 500;
      text-align: left;
    }

    p {
      width: 80%;
      color: #666;
      font-size: rem(12);
      line-height: rem(12);
    }

   .read {
      width: rem(55);
      height: rem(55);
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: rem(55) 0 15px;
      background: url("/img/read.svg") no-repeat 60% 60%, #f6a61d;
    }

    &:hover .read {
      visibility: hidden;
    }

    &:hover .details {
      visibility: visible;
      width: 100%;
      border-radius: 0 0 15px 15px;
      background: none;
      background-color: #f6a61d;
      color: #f6f6f6;
      font-size: rem(22);
      font-weight: 500;
      text-align: center;
      text-shadow: rem(1) rem(2) rem(7) rgba(0, 1, 1, 0.35);
      box-shadow: rem(4) rem(7) rem(15) rem(0) rgba(0, 1, 1, 0.2);
    }

    .details {
      @extend .read;
      visibility: hidden;
      padding: rem(17) 0 0;
    }
  }
}

.pop-up-wrap {

  .pop-up {
    @include size(80% 100%);
    max-width: 1046px;
    padding: 4% 0;
    margin: 0 auto;
  }

  .pop-up-header {
    height: 76px;
    background: url('/img/pop-up-header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 3px 5px 0px rgba(0, 1, 1, 0.15);
    position: relative;

    .title {
      padding: 15px 200px 0;
      font-family: 'Roboto', sans-serif;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      text-shadow: 1px 2px 5px rgba(0, 1, 1, 0.35);
      text-transform: uppercase;
    }

    .download {
      height: 35px;
      border-radius: 5px;
      background-color: #f6a61d;
      box-shadow: 1px 2px 3px 0px rgba(0, 1, 1, 0.25);
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      text-shadow: 0px 1px 2px rgba(0, 1, 1, 0.25);
      display: inline-block;
      vertical-align: middle;
      padding: 10px 28px;
      margin: 0 0 0 10px;

      &:after {
        @include size(16px 18px);
        content: '';
        display: inline-block;
        background: url(/img/pop-up-download.png);
        vertical-align: middle;
        margin: 0 -10px 0 10px;
      }
    }

    .close {
      @include size(24px);
      @include position(absolute, 22px 25px null null);
      cursor: pointer;
      background: url(/img/pop-up-close.png);
    }
  }

  .pop-up-content {
    height: calc(100% - 76px);
  }
}
