<template name="adminProductsList">
  <div class="box-body">
    <h3>{{_ 'products.title'}}:</h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <td>{{_ 'products.position'}}</td>
        <td>{{_ 'products.name'}}</td>
        <td>{{_ 'products.img'}}</td>
        <td>{{_ 'products.pdf'}}</td>
        <td>{{_ 'products.actions.edit'}}</td>
        <td>{{_ 'products.actions.remove'}}</td>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{position}}</td>
          <td>{{name}}</td>
          <td>
            {{#if img}}
              <i class="fa fa-check"></i>
            {{/if}}
          </td>
          <td>
            {{#if pdf}}
              <i class="fa fa-check"></i>
            {{/if}}
          </td>
          <td>
            <a href="{{pathFor 'adminProductsEdit' productId=_id}}" class="hidden-xs btn btn-xs btn-primary">
              <i class="fa fa-pencil"></i>
            </a>
            <a href="{{pathFor 'adminProductsEdit' productId=_id}}" class="visible-xs btn btn-sm btn-primary">
              <i class="fa fa-pencil"></i>
              {{_ 'products.actions.edit'}}
            </a>
          </td>
          <td>
            <a data-toggle="modal" data-collection="Products" doc="{{_id}}" href="#admin-delete-modal" class="hidden-xs btn btn-xs btn-danger btn-delete">
              <i class="fa fa-times" doc="{{_id}}"></i>
            </a>
            <a data-toggle="modal" data-collection="Products" doc="{{_id}}" href="#admin-delete-modal" class="visible-xs btn btn-sm btn-danger btn-delete">
              <i class="fa fa-times" doc="{{_id}}"></i>
              {{_ 'products.actions.remove'}}
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
