<template name="layout">
  <header>
    <div class="logo-box"></div>
    <nav>
      <a href="about.html">О КОМПАНИИ</a>
      <a href="assortment.html">НАШ АССОРТИМЕНТ</a>
      <a href="manufacturers.html">ПРОИЗВОДИТЕЛЯМ</a>
      <a href="team.html">СОТРУДНИКИ</a>
      <a href="contacts.html">КОНТАКТЫ</a>
    </nav>
    <div class="call-us">
      <div class="call-icon"></div>
      <div class="call-text">
        <p>Для связи с нами:</p>
        <span class="number">8 (727) 326 96 28</span>
      </div>
    </div>
    <div class="clr"></div>
  </header>
  {{> yield}}
  <div class="offer">
    <h5>
      Если вас давно интересует распространение сельскохозяйственной продукции
      на рынке Казахстана, и Вы не знаете, как на него выйти правильно и быстро,
      присылайте Ваши предложения и заявки на почту
    </h5>

    <button class="leave-offer">ОСТАВИТЬ ПРЕДЛОЖЕНИЕ</button>
  </div>
  <div class="contact-us">
    <h6>
      Для связи с нами:
      <br>
      <span>8 (727) 326 96 28</span>
    </h6>
  </div>
  <footer>
    <nav>
      <a href="about.html">О компании</a>
      <a href="assortment.html">Товары</a>
      <a href="manufacturers.html">Производители</a>
      <a href="team.html">Сотрудники</a>
      <a href="reviews.html">Отзывы</a>
      <a href="contacts.html">Контакты</a>
    </nav>
  </footer>
</template>
