@mixin vertical-align {
  @include transform(translateY(-50%));
  position: relative;
  top: 50%;
}

@mixin media-min-width-remmer($minWidth, $fontSize) {
  @media (min-width: $minWidth + px) {
    html {
      font-size: $fontSize + px !important;
    }
  }
}
