@import 'client/scss/all';


.slogan-box{
   width: 100%;
   height: rem(760);
   margin-top: rem(-15);
   padding: rem(150);
   position: relative;
   z-index: 9;
   background: url("/img/slogan-bg.png");
   background-size: cover;
   color: #fff;
   text-align: center;

   h2{
     margin-top: rem(20);
     font-size: rem(24);
     line-height: rem(30);

     &:after{
       content: "";
       display: block;
       width: rem(100);
       border-bottom: rem(3) solid #fff;
       margin: rem(30)auto;
      }
  }

  h1{
    font-size: rem(36);
    font-weight: 500;
    text-shadow: rem(1) rem(2) rem(5) rgba(0, 1, 1, 0.25);
  }

  button{
    @extend .round;
    margin-left: rem(-30);
    bottom: 5%;
    left: 50%;
  }
 }

 .small-header{
   width: 100%;
   height: rem(70);
   background: $bg-color;

   .navigation{
     width: 20%;
     height: 100%;
     border-right: rem(1) solid rgba(255, 255, 255, 0.4);;
     padding: rem(10);
     padding-left: rem(30);
     float: left;
     background-image: url("/img/logo.png");
     background-repeat: no-repeat;
     background-position: 90% 50%;

     .menu{
        @include vertical-align;
        @include size(rem(30) rem(30));
        background: url("/img/menu-button.svg") no-repeat;
        background-position: center;
        background-size: cover;
     }
   }

   .page-title{
      @include size(80% 100%);
      padding: 0 6% 0 2%;
      float: left;
      color: #fff;

     h3{
        @include vertical-align;
        float: left;
        font-weight: 500;
        font-size: rem(20);
     }

     .call-us{
    height: 80%;

     }
    .call-icon{
      background-position: 50% 50%;
    }

    .number{
      top: 50%;
      transform: translateY(-50%);
    }
   }
 }

 .assortment{
   width: 100%;
   position: relative;
   padding: rem(80) 14%;
   background-image: url("/img/assortment-bg.png");
   background-size: cover;
   background-repeat: no-repeat;

   .column{
     width: 31%;
     float: left;
     margin-right: 2.3%;

     &:last-child{
       margin-right: 0;/* nothing happened???*/
     }

    .card{
      @include size (100% rem(315));
       position: relative;
       border-radius: rem(20);
       margin-bottom: rem(20);
       overflow: hidden;
     }

      .big-card{
        @include size(100% rem(650));
        border-radius: rem(15);
        overflow: hidden;
        position: relative;

       .card-photo{
         height:rem(510);
         background-image: url("/img/card5.png");
       }
     }

     .card-photo{
       @include size(100% rem(215));
       background-image: url("/img/card1.png");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
     }

     .card-photo1{
       @extend .card-photo;
       background-image: url("/img/card1.png");
     }

     .card-photo2{
       @extend .card-photo;
       background-image: url("/img/card2.png");
     }

     .card-photo3{
       @extend .card-photo;
       background-image: url("/img/card3.png");
     }

     .card-photo4{
       @extend .card-photo;
       background-image: url("/img/card4.png");
     }

     .description{
       width: 100%;
       position: absolute;
       bottom: 0;
       padding: rem(20);
       background: #eaebed;

       h4{
         width: 80%;
         margin-bottom: rem(15);
         color: #29562a;
         font-size: rem(18);
         font-weight: 500;
         text-align: left;
       }

       p{
         width: 80%;
         color: #666;
         font-size: rem(12);
         line-height: rem(12);
       }

       .read{
         width: rem(55);
         height: rem(55);
         position: absolute;
         bottom: 0;
         right: 0;
         border-radius: rem(55) 0 0;
         background: url("/img/read.svg") no-repeat 60% 60%, #f6a61d;
       }
     }

     .description1{
       @extend .description;

       &:hover{
         height: rem(200);
         transition: 3s;
       }

       &:hover .read1{
         visibility: visible;
         width: 100%;
         border-radius: 0 0 rem(15) rem(15);
         background: none;
         background-color: #f6a61d;
         color: #f6f6f6;
         font-size: rem(22);
         font-weight: 500;
         text-align: center;
         text-shadow: rem(1) rem(2) rem(7) rgba(0, 1, 1, 0.35);
         box-shadow: rem(4) rem(7) rem(15) rem(0) rgba(0, 1, 1, 0.2);
       }

       .read1{
         @extend .read;
         visibility: hidden;
       }
     }
   }

  button{
    @extend .round;
    bottom: rem(100);

  }
 }

 .team{
   width: 100%;
   padding: rem(80) 14%;
   position: relative;
   background-image: url("/img/assortment-bg.png");
   background-size: cover;
   background-repeat: no-repeat;

   .previous{
      @include size(rem(55) rem(100));
      position: absolute;
      left: rem(-55);
      top: 50%;
      border-radius: rem(50) 0 0 rem(50);
      background-color: #fff;
      background-image: url("/img/left.svg");
      background-repeat: no-repeat;
      background-position: 60% 50%;
      box-shadow: rem(2) rem(4) rem(10) rem(0) rgba(0, 1, 1, 0.35);
      transform: translateY(-50%);
   }

   .next{
     @include size(rem(55) rem(100));
     position: absolute;
     right: rem(-55);
     top: 50%;
     border-radius: rem(0) rem(50) rem(50) rem(0);
     box-shadow: rem(2) rem(4) rem(10) rem(0) rgba(0, 1, 1, 0.35);
     background-color: #fff;
     background-image:url("/img/right.svg");
     background-repeat: no-repeat;
     background-position: 40% 50%;
     transform: translateY(-50%);
   }


   .worker{
    @include size(31% rem(380));
     position: relative;
     border-radius: rem(15);
     float: left;
     margin-right: 2.3%;
     margin-bottom: rem(20);
     background: #a9c855;
     text-align: center;

     &:last-child{
       margin-right: 0;
     }


     .worker-photo{
      @include size(100% rem(280));
       padding:10% 20%;
       border-radius: rem(15) rem(15) 0 0;

       img{
         width: 100%;
       }
     }

     .description{
       @include size(100% rem(100));
       padding: rem(20);
       position: absolute;
       bottom: 0;
       border-radius: 0 0 rem(15) rem(15);
       background: #efefef;
       text-align: left;
       transition: 0.3s;

       p + p{
         visibility: hidden;
         line-height: rem(25);
         transition: 0.3s ease;
       }

       &:hover{
         height: rem(150);

         p + p{
           visibility: visible;
         }
       }


       h4{
         width: 80%;
         margin-bottom: rem(18);
         color: #29562a;
         font-size: rem(18);
         font-weight: 500;
       }

       p{
         width: 80%;
         color: #666;
         font-size: rem(12);
         line-height: rem(15);
       }

       .read{
         @include size(rem(55) rem(55));
         border-radius: rem(55) 0 rem(15);
         position: absolute;
         bottom: 0;
         right: 0;
         background: url("/img/read.svg") no-repeat 60% 60%, #f6a61d;
       }
     }
   }

  .round{
    position: relative;
    left: 50%;
    margin-left:rem(-30);
    margin-top: rem(75);

  }
}
