@import 'client/scss/all';

.slogan-box {
  width: 100%;
  height: rem(760);
  min-height: 33.5rem;
  padding: rem(249) rem(150) rem(150);
  position: relative;
  z-index: 9;
  color: #fff;
  text-align: center;
  overflow: hidden;

  .text-wrap {
    @include position(absolute, 50% null null 50%);
    @include transform(translateX(-50%) translateY(-50%));
    z-index: 1;
  }

  &:after {
    @include position(absolute, 0 null null 0);
    @include size(100%);
    z-index: -2;
    content: '';
    display: block;
    background-color: rgba(41, 86, 42, 0.5);
  }

  img {
    width: rem(681);
  }

   h2{
      margin-top: rem(24);
      font-size: rem(22);
      line-height: rem(27);

      &:after{
        content: "";
        display: block;
        width: rem(93);
        border-bottom: 3px solid #fff;
        margin: rem(30) auto rem(27);
      }
  }

  h1 {
    font-size: rem(33);
    font-weight: 500;
    text-shadow: rem(1) rem(2) rem(5) rgba(0, 1, 1, 0.25);
  }

  button {
    margin-left: rem(-27);
    bottom: rem(43);
    left: 50%;
  }
}

.assortment{
   width: 100%;
   position: relative;
   padding: rem(80) 14%;
   background-image: url("/img/assortment-bg.png");
   background-size: cover;
   background-repeat: no-repeat;

  .column{
    width: 31%;
    float: left;
    margin-right: 2.3%;

    &:last-child{
      margin-right: 0;/* nothing happened???*/
    }
  }

  .next-screen {
    @extend .round;
    right: rem(100);
    bottom: rem(100);
  }
}

.map {
  @include size(100% rem(840));
  position: relative;
  background-image: url('/img/map-bg.png');
  background-size: cover;
  overflow: hidden;

  .title {
    @include position(absolute, 73px null null 15.2%);
    color: #fff;
    font-size: rem(32);
    text-transform: uppercase;
  }

  object {
    @include transform(translateX(10%));
    width: 125%;
    margin: 60px 0 0;
  }

  .round {
    @include transform(translateX(-50%));
    bottom: rem(40);
    left: 50%;
    cursor: pointer;
  }
}

 .team{
   width: 100%;
   padding: rem(80) 16%;
   position: relative;
   background-image: url("/img/assortment-bg.png");
   background-size: cover;
   background-repeat: no-repeat;

  .bx-wrapper .bx-viewport {
    @include prefixer(box-shadow, none, webkit moz spec);
    border: none;
    left: 0;
    background: none;
    z-index: 7;
  }

  .team-carousel-wrap {
    width: 100%;
    position: relative;
  }

  .team-carousel {
    width: 100%;
  }

  .bx-wrapper .bx-controls-direction .bx-prev {
    @include size(48px 88px);
    @include transform(translateY(-50%));
    @include position(absolute, 50% null null -48px);
    z-index: 5;
    border-radius: rem(50) 0 0 rem(50);
    background-image: url("/img/left.svg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 60% 50%;
    box-shadow: rem(2) rem(4) rem(10) rem(0) rgba(0, 1, 1, 0.35);
  }

  .bx-wrapper .bx-controls-direction .bx-next {
    @include size(48px 88px);
    @include transform(translateY(-50%));
    @include position(absolute, 50% -47px null null);
    z-index: 5;
    border-radius: rem(0) rem(50) rem(50) rem(0);
    box-shadow: rem(2) rem(4) rem(10) rem(0) rgba(0, 1, 1, 0.35);
    background-image:url("/img/right.svg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 40% 50%;
  }

  .round{
    position: relative;
    left: 50%;
    margin-left:rem(-30);
    margin-top: rem(75);

  }
}

#bg-video {
  @include position(absolute, 50% null null 50%);
  @include transform(translateX(-50%) translateY(-50%));
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("/img/agro-bg.jpg") no-repeat;
  background-size: cover;
}
