@import 'client/scss/all';
@import 'client/scss/reset';

header {
  @include transition(height 0.3s ease-in-out);
  @include size(100% rem(105));
  @include position(fixed, 0 null null null);
  padding: 0 5.75% 0 14.5%;
  z-index: 10;
  background: #3d7a41;

  object {
    @include position(absolute, 0 null null 0);
    @include transition(visibility 0s 0.3s linear);
    z-index: -1;
    width: 100%;
  }


  .logo-box {
    @include size(rem(130) rem(156));
    background: url("/img/header-logo.png") no-repeat, #3e7b41;
    background-position: center;
    background-size: 80%;
    float: left;
    border-radius: 30px;
    margin: 0 0 0 rem(-2);

    a {
      display: block;
      height: 100%;
    }
  }

  nav {
    display: block;
    padding: rem(43) 0 0;
    margin: 0 9.3% 0 21.1%;
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }

    a {
      display: inline-block;
      padding: rem(7) rem(13);
      color: #fff;
      font-size: rem(12);
      font-weight: 400;
      border-radius: 30px;

      &:hover, &:focus {
        background: #fff;
        color: $bg-color;
        outline: none;
      }
    }
  }

  .full-nav {
    height: 100%;
    margin-right: rem(240);
    display: block;
  }

  .btn-nav {
    display: none;
    height: 100%;
  }

  &.small {
    height: rem(80);
    padding: 0 6% 0 0;
    background: $bg-color;
    box-shadow: 0px 1px 12px 0px rgba(0, 1, 1, 0.35);

    object {
      @include transition(visibility 0s 0s linear);
      visibility: hidden;
    }

    .navigation {
      @include size(20% 100%);
      border-right: 1px solid rgba(255, 255, 255, 0.4);
      padding: rem(10);
      padding-left: rem(30);
      float: left;
      background-image: url("/img/logo.png");
      background-repeat: no-repeat;
      background-position: 90% 50%;

      .menu {
         @include vertical-align;
         @include size(rem(30) rem(30));
         background: url("/img/menu-button.svg") no-repeat;
         background-position: center;
         background-size: cover;
      }
    }

    .page-title{
      height: 100%;
      padding: 0 6% 0 2%;
      float: left;
      color: #fff;

      h3 {
        @include vertical-align;
        float: left;
        margin: 0;
        font-weight: 500;
        font-size: rem(20);
        text-transform: uppercase;
      }
    }

    .call-us {
      height: 80%;
    }

    .call-icon {
      background-position: 50% 50%;
    }

    .number {
      bottom: rem(23);
    }

    .full-nav,
    .call-label {
      display: none;
    }

    .btn-nav {
      display: block;
    }
  }
}

.call-us {
  @include size(rem(240) rem(91));
  background: $bg-color2;
  float: right;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 1px 2px 5px 0px rgba(0, 1, 1, 0.2);

  .call-icon {
    @include size(20% 100%);
    float: left;
    border-right: 1px solid rgba(62, 123, 65, 0.2);
    background: url("/img/phone.svg") no-repeat;
    background-position: 50% 20%;
  }

  .call-text {
    @include size(80% 100%);
    padding: 15px;
    float: left;
    position: relative;

    p {
      color: $bg-color;
      font-size: rem(15);
      font-weight: 500;
    }
  }
}

.number {
  @include position(absolute, null null rem(17) null);
  color: #fff;
  font-size: rem(18);
  font-weight: 500;
}


.offer {
  width: 100%;
  padding: 11.5% 15% 12%;
  background: url("/img/vector-bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;


  h5 {
    color: #eaebed;
    font-size: rem(28);
    line-height: rem(32);
  }

  p {
    width: 60%;
    margin: 5% 20%;
    color: #fff;
    font-size: 1.25em;
    font-weight: 400;
    text-align: justify;
  }

  .leave-offer {
    bottom: 12%;
    padding: rem(18) 0 rem(20);
    font-size: rem(21);
    font-weight: 500;
    width: rem(347);
  }
}

main {
  padding-top: rem(70);
}

.contact-us {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 3%;
  background: url("/img/contact-us-bg.png");
  background-position: center center;
  position: relative;

  &:after {
    @include position(absolute, rem(33) null null 14.1%);
    @include size(rem(121) rem(119));
    display: block;
    content: '';
    background-image: url("/img/footer-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  h6 {
    font-size: rem(22);
    margin: rem(10) 0 0;
    line-height: 1;
    font-weight: 300;

    span {
      font-size: rem(34);
      font-weight: 500;
      margin: rem(8) 0 0;
      display: inline-block;
    }
  }
}

footer {
  width: 100%;
  background: $bg-footer;
  text-align: center;
  padding: rem(21) 0;

  a {
    color: #fff;
    font-size: rem(12);
    border-right: 1px solid #fff;
    padding: 0 10px;

    &:last-child {
      border-right: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}


.pop-up-offer {
  width: 855px;
  height: 617px;
  border-radius: 10px;
  background-color: #eaebed;
  background-image: url("../img/pop-up-bg1.png");
  margin: 40px auto;
  overflow: hidden;

  h3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 2px 5px rgba(0, 1, 1, 0.35);
  }

  p {
    color: #797979;
    font-size: 1.125em;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
  }
  .header {
    width: 100%;
    height: 65px;
    padding: 15px;
    position: relative;
    background-image: url("../img/history-bg3.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .close {
    @include transform(translateY(-50%));
    @include position(absolute, 50% 20px null null);
    @include size(20px);
    background: {
      image: url("/img/close.svg");
      repeat: no-repeat;
      size: 20px 20px;
    }
  }
  .description {
    width: 58%;
    height: 552px;
    background: #eaebed;
    float: left;
    padding: 20px;
    box-shadow: 3px 5px 11px 0px rgba(0, 1, 1, 0.25);

    textarea {
      @include size(100% 460px);
      padding: 15px;
      border: none;
      border-radius: 10px;
      background-color: #d7d7d7;
      box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.25);
      resize: none;
      line-height: 25px;
      outline: none;
    }
  }
  .ur-info {
    @include size(42% 552px);
    padding: 20px 30px;
    background: rgba(234, 235, 237, 0.7);
    float: left;

    input {
      @include size(100% 60px);
      margin-bottom: 20px;
      border: none;
      border-radius: 10px;
      background-color: #d7d7d7;
      box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.25);
      color: #797979;
      font-size: 1em;
      font-weight: 400;
      text-align: left;
      text-indent: 25px;
      outline: none;
    }
  }

  .send {
    @include size(100% 60px);
    border-radius: 10px;
    background-color: #f6a61d;
    box-shadow: 3px 5px 10px 0px rgba(0, 1, 1, 0.2);
    color: #f6f6f6;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 2px 7px rgba(0, 1, 1, 0.35);
  }
}
